
body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.name{
  font-family: 'Ruslan Display', cursive;

}
.key{
 margin-top: 90px;
}